/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/api-docs/api-docs.json
/vendor
/.idea
/.vagrant
/resources/views/vendor/l5-swagger
Homestead.json
Homestead.yaml
npm-debug.log
package.json
yarn-error.log
.env
/venv/*
/ml/nltk_packages
/ml/pickles
/ml/.idea
/ml/lib/config.py
/ml/analyze/__pycache__/
/ml/lib/__pycache__/
.gitignore
