/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
/resources/views/vendor/l5-swagger
Homestead.json
Homestead.yaml
npm-debug.log
package.json
composer.json
composer.lock
yarn-error.log
.env
/venv/*
/ml/nltk_packages
/ml/pickles
/ml/config.json
/ml/lib/config.py
/ml/.idea
/analyze/__pycache__
/lib/__pycache__