APP_NAME=ТОЕсуд
APP_ENV=local
APP_KEY=base64:tXBcfX7/v2/ah+09coMMT2p8SSsx2PX+6/El5ih4YEk=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=https://toecyd.local

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=toecyd
DB_USERNAME=root
DB_PASSWORD=1

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=database

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=toe.cyd@gmail.com
MAIL_PASSWORD=toecyd2018
MAIL_ENCRYPTION=tls

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1


L5_SWAGGER_CONST_HOST=127.0.0.1:8000
L5_SWAGGER_GENERATE_ALWAYS=true
SWAGGER_VERSION=2.0
L5_SWAGGER_BASE_PATH=/api/v1

AWS_ACCESS_KEY_ID=AKIAIYRNULD4VCYPFIOQ
AWS_SECRET_ACCESS_KEY=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
AWS_DEFAULT_REGION=eu-central-1
AWS_BUCKET=toecyd