@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=cyrillic);body {
  background-color: #fafafa;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #112F41;
}

.btn-primary {
  color: #ffff;
  background-color: #2C5F9C;
}

.btn-primary:hover {
  background-color: #3777c4;
}

button {
  cursor: pointer;
  border: none;
}

button:active,
button:hover,
button:focus {
  outline: none;
  background-color: #e1e0e0;
}

.card {
  border: none;
  -webkit-box-shadow: 0 2px 43px -4px rgba(0, 0, 0, 0.19);
  box-shadow: 0 2px 43px -4px rgba(0, 0, 0, 0.19);
}

.card-header {
  background-color: #2b989b;
  color: #ffffff;
}

