
 /* Стилі для фільтрів */
#filters {
    font-size: 0.9em;
}
#filters h6 {
    color: #4c88bd;
}
/* Customize the label (the container) */
#filters ul label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default checkbox */
#filters ul input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: #eee;
}
/* When the checkbox is checked, add a blue background */
#filters ul label input:checked ~ .checkmark {
    background-color: #2b989b;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
#filters ul label input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
#filters ul label .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
#apply-filters {
    width: 150px;
    background-color: white;
    position: fixed;
    left: 40px;
    bottom: 3px;
}

 /* if display is bigger then 1200px, correct position */
 @media (min-width: 1200px) {
     #apply-filters {
         min-width: 180px;
         padding-left: 20px;
         left: 35px;
     }
 }




 /* styles for page elements */
div.col-12.col-lg-2>img {
    width: 120px;
    height: 120px;
}
#sorting-type, .bookmark, .fa-pencil {
    cursor: pointer;
}
#sorting-type input {
    display: none;
}
 div.card-body.p-2 h5 a{
     color: #3d7ee5;
 }
/* if display is small then 992 hide part of pagination */
 @media (max-width:992px){
     .pagination li:nth-child(even) {
         display: none;
     }
 }



/* styles for font awesome */
.fa-filter {
    font-size: 21px;
    color: #6291ba;
}
.fa-sort-alpha-asc, .fa-sort-alpha-desc {
    font-size: 18px;
    color: #3d7ee5;
}
.fa-bookmark-o, .fa-bookmark {
    font-size: 18px;
    color: #2b989b;
}

.fa-briefcase {
    color: green;
    font-size: 15px;
}
.fa-line-chart {
    color: #6291ba;
}
.fa-medkit {
    font-size: 17px;
    color: red;
}
.fa-calendar-check-o, .fa-calendar-minus-o, .fa-calendar-times-o {
    font-size: 17px;
    color: #2b989b;
}
.fa-pencil {
    color: #6c757d;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.fa-pencil:hover {
    color: #6291ba;
    box-shadow: 0 0 3px rgba(0,0,0,0.5),  inset 0 0 1px rgba(0,0,0,0.7);
}



 /* styles for autocomplete field  */
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}
.autocomplete-items {
    position: absolute;
    font-size: 0.9em;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

/* styles for pop-up form changing status */
select#chooser-judge-status {
    font-family: 'FontAwesome', Helvetica, serif;
}
select#chooser-judge-status option:first-child {
    color: green;
}
select#chooser-judge-status option:nth-child(2) {
    color: red;
}
select#chooser-judge-status option:nth-child(3) {
    color: #2b989b;
}
select#chooser-judge-status option:nth-child(4) {
    color: #2b989b;
}
select#chooser-judge-status option:last-child {
    color: #6291ba;
}


