@mixin alignElement($flexDirection:'row', $justifyContent:'center', $alignItems:'center'){
    display: flex;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    align-items: $alignItems;
}
@mixin boxShadow($shadow) {
    -webkit-box-shadow: $shadow;
    box-shadow: $shadow;
}
