// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "_variables";

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=cyrillic');
body {
  background-color: $body-bg;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $main;
  // text-shadow: 4px 4px 4px #aaa;
  
}
button, 
button:active, 
button:focus {
    outline: none;
}
